:root {
  /* global variables go here */
  --example: 30px;
}

* {
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box; /* size calcuations take border and padding into account */

  /*
    Assumes default font size on browser of 16px. 62.5% * 16 = 10px.
    The reason we do this is so that our base font size for all elements is 10px.
    It makes the maths much easier to alter font sizes of individual elements
    when you have a nice round number like this to start with
  */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.loading-screen {
  align-items: flex-start;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu Mono', sans-serif;
  font-size: 3rem;
  height: 100%;
  justify-content: flex-end;
  left: 0;
  position: fixed;
  top: 0;
  white-space: pre; /* preserve whitespace */
  width: 100%;
}